
<h1>Listing projects</h1>
<% @projects.each do |proj| %>
	<% proj.inspect %>
  <div>Title - <%= proj[:title] %> </div>
	<div>Goal - <%= proj[:goal] %> </div>
	<div> <%= proj[:teaser] %> </div>
  <div> <%= link_to proj.title, project_path(proj) %></div>
	<% end %>
