<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">

          <li class="<%= cp(root_path) %>">
            <%= link_to 'Home', :root %>
          </li>

          <li class="<%= cp(projects_path) || (@project && cp(project_path(@project))) %>">
         

            <%= link_to 'Projects', :projects %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>